body
{
	margin: 0;
	padding: 0px 60px;
	background-color: #574892;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

}

h1
{
	font-size: 42px;
	font-weight: 400;
	color: #FA7C00;
	margin-bottom: 20px;
	text-align: center;
}

table, th, td {
    border: 2px solid #FFFAFA;
    border-collapse: collapse;
}
p {
    margin-left: 10px;
    margin-right: 10px;
}



.row
{
	margin: 20px 10px;
}

.col
{
	display: inline-block;
	margin: 0 10px;
}

	
ul {
float: center;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
}

li a {
display: block;
float: center;
text-align: center;
font-size: 1.2em;
width: 330px;
text-decoration: none;
color: black;
background-color: #FA7C00;
padding: 10px 15px;
margin: 0px 1px 1px 0px;
border: 1px solid navy;
border-radius: 3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 2px 3px gray;
-moz-box-shadow: 0px 2px 3px gray;
-webkit-box-shadow: 0px 2px 3px gray;
}

li a:hover {
color: white;
background: blue;
border: 1px solid blue;
}

button{
display: block;
float: center;
text-align: center;
font-size: 1.2em;
width: 330px;
text-decoration: none;
color: black;
background-color: #FA7C00;
padding: 10px 15px;
margin: 0px 1px 1px 0px;
border: 1px solid navy;
border-radius: 3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 2px 3px gray;
-moz-box-shadow: 0px 2px 3px gray;
-webkit-box-shadow: 0px 2px 3px gray;
}
button:hover {
color: white;
background: blue;
border: 1px solid blue;
}